/**
 * Wide drop-down menu
 */

/* Only 2nd level (first subcategory)
-------------------------------------------------------------- */
#nav ul.level0 {
	position:absolute;	
	top:49px;
	left:0;
	background-color:#fff;
	width:96%; /* 100% - padding */
	padding:2%;
}

/* If list is wrapped in additional DIV */
/*#nav div ul { position:static; width:auto; border:none; }*/

/* 2nd level only
-------------------------------------------------------------- */
/* 2-level links block: with subcategory title and a list of child categories */
#nav ul.level0 > li {
	display:inline-block;
	float:none;
	vertical-align:top;
	padding-top:10px;
	padding-bottom:10px;
}
#nav ul.level0 > li > a {
	margin-bottom:10px;
	font-size:1.3333em; /*16px*/
	text-transform:uppercase;
}

/* 2nd level+
-------------------------------------------------------------- */
#nav ul li { float:none; }
#nav ul li a { float:none; }

/* 3rd level+
-------------------------------------------------------------- */
#nav ul ul { position:static !important; /*TODO:improve*/ }
#nav ul ul li { background:url(../images/img/bullet.png) 3px 6px no-repeat; padding-left:15px; }
#nav ul ul li:hover {
	background-position:6px 6px;
	transition:			background-position 150ms ease-in-out;
	-moz-transition:	background-position 150ms ease-in-out;
	-webkit-transition:	background-position 150ms ease-in-out;
	-o-transition:		background-position 150ms ease-in-out;
}

/* 4th level
-------------------------------------------------------------- */
#nav ul.level2 { margin:7px 0; padding:0; }
#nav ul.level2 a { font-size:0.9166em; line-height:1.2727em; /*11px 14px*/ opacity:0.6; }
#nav li.level2:hover ul.level2 a {
	opacity:1;
	transition:			opacity 150ms ease-out;
	-moz-transition:	opacity 150ms ease-out;
	-webkit-transition:	opacity 150ms ease-out;
	-o-transition:		opacity 150ms ease-out;
}

/* 4rd level+
-------------------------------------------------------------- */
#nav ul ul ul li { background:none; padding-left:0; }

/* Drop-down transition
-------------------------------------------------------------- */
#nav > li ul.level0 {
	visibility:hidden;
	opacity:0;
	transition:			visibility 0s ease-in-out 450ms, opacity 300ms ease-in-out 150ms;
	-moz-transition:	visibility 0s ease-in-out 450ms, opacity 300ms ease-in-out 150ms;
	-webkit-transition:	visibility 0s ease-in-out 450ms, opacity 300ms ease-in-out 150ms;
	-o-transition:		visibility 0s ease-in-out 450ms, opacity 300ms ease-in-out 150ms;
	
}
#nav > li:hover ul.level0 {
	visibility:visible;
	opacity:1;
	transition-delay:150ms;
	-moz-transition-delay:150ms;
	-webkit-transition-delay:150ms;
	-o-transition-delay:150ms;
}



/* For default Magento menu - show submenu
-------------------------------------------------------------- */
#nav li > ul.shown-sub { left:0; }
