/**
 * Slideshow
 */



/* Necessary styles
-------------------------------------------------------------- */
.the-slideshow {margin: 0; padding: 0;}
.the-slideshow .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.the-slideshow .slides img {max-width: 100%; display: block;}
.pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.the-slideshow .slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .the-slideshow .slides {display: block;}
* html .the-slideshow .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .the-slideshow .slides > li:first-child {display: block;}

/* Default style
-------------------------------------------------------------- */
.the-slideshow { margin:0 auto 2%; position:relative; zoom:1; }
.the-slideshow .slides { zoom:1; }
.the-slideshow .slides > li { position:relative; }

/* Slideshow banners
-------------------------------------------------------------- */
.slideshow-banners {
	margin-bottom:2%;
}
.slideshow-banners .banner {
	display:block;
	text-align:center;
}

